.App {
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

html {
  scroll-behavior: smooth;
}

.title {
  text-align: right;
  font-size: 72px;
  font-weight: 500;
  margin: 0%;
  margin-bottom: 1%;
}

.section--header {
  font-size: 56px;
  font-weight: 500;
}

.navbar--menu {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  font-size: 40px;
  margin-bottom: 10%;
  padding: 10px;
  padding-top: 0px;
  color: black;
}

.navbar--item {
  text-decoration: none;
  color: black;
}

.navbar {
  background-image: url('./images/navbar/yarn2.svg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 575px;
  margin: 0%;
}



.intro--typewriter{
  background-image: url('./images/intro/typewriter2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y:bottom;
}

.intro--textborder {
  padding-left: 15%;
  padding-right: 13%;
  padding-bottom: 70%;
  /* padding-top: 25px; */
  
}

.intro--text {
  
  font-size: 18px;
  align-content: center;
  border-style: solid;
  border-color: #6A30A5;
  border-width: 5px;
  padding: 5%;

}

.projects--gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  /* border: 10px solid green; */
  width: 500px;
  height: 359px;
  font-size: 40px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.project--frame1 {
  background-image: url('./images/projects/frame1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  
  width: inherit;
  height: inherit;
  padding: 0px 75px;
  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project--frame2 {
  background-image: url('./images/projects/frame2.svg');
  background-repeat: no-repeat;
  background-size: contain;

  width: inherit;
  height: inherit;
  padding: 0px 75px;
  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project--frame3 {
  background-image: url('./images/projects/frame3.svg');
  background-repeat: no-repeat;
  background-size: contain;

  width: inherit;
  height: inherit;
  padding: 0px 75px;
  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact--button {
  margin: 0;
  border: 0;
  padding: 0px;
  background : none;
}

.contact--buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1%;
}

p {
  text-align: left;
}

.pagehead {
  display:flex;
  gap:2%;
  
}

.pagehead--logo {
  margin: 0;
  border: 0;
  padding: 0px;
  background : none;
  padding-top: 10px;  
}

.pagehead--title {
  text-align: left;
  align-self: center;
  font-size: 64px;
  font-weight: 500;
  margin: 0%;
}



.magazine--viewer {
  height: 435px;
  width: 391px;
  float: right;
  margin-right: 50px;
  margin-left: 50px;
}

.page--body {
  margin-top: 50px;
}

.page--body > h2 {
  text-align: left;
}

ul {
  text-align: left;
}

figure > img {
  max-width:80%;
}

.rupaul--images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px
  
}

h2 {
  text-align: "left"
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}