.App {
  text-align: center;
  margin-right: 5%;
  margin-left: 5%;
}

html {
  scroll-behavior: smooth;
}

.title {
  text-align: right;
  font-size: 5vw;
  font-weight: 500;
  margin: 0%;
  margin-bottom: 1%;
}

.section--header {
  font-size: 3vw;
  font-weight: 500;
}

.navbar--menu {
  display: flex;
  justify-content: flex-end;
  gap: 5%;
  font-size: 3vw;
  margin-bottom: 10%;
  padding: 1%;
  padding-top: 0px;
  color: black;
}

.navbar--item {
  text-decoration: none;
  color: black;
}

.navbar {
  background-image: url('./images/navbar/yarn2.svg');
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-size: 45vw;
  margin: 0%;
}



.intro--typewriter{
  background-image: url('./images/intro/typewriter2.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y:bottom;
}

.intro--textborder {
  padding-left: 15%;
  padding-right: 13%;
  padding-bottom: 70%;
  /* padding-top: 25px; */
  
}

.intro--text {
  
  font-size: 1.5vw;
  align-content: center;
  border-style: solid;
  border-color: #6A30A5;
  border-width: 0.5vw;
  padding: 5%;

}

.projects--gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  /* border: 10px solid green; */
  width: 40vw;
  height: 28.72vw;
  font-size: 3.5vw;
  padding: 1vw;
  text-decoration: none;
  color: black;
}

.project--frame1 {
  background-image: url('./images/projects/frame1.svg');
  background-repeat: no-repeat;
  background-size: contain;
  
  width: inherit;
  height: inherit;
  padding: 0vw 7.5vw;
  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project--frame2 {
  background-image: url('./images/projects/frame2.svg');
  background-repeat: no-repeat;
  background-size: contain;

  width: inherit;
  height: inherit;
  padding: 0vw 7.5vw;
  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project--frame3 {
  background-image: url('./images/projects/frame3.svg');
  background-repeat: no-repeat;
  background-size: contain;

  width: inherit;
  height: inherit;
  padding: 0vw 7.5vw;
  
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact--buttons > a > button {
  margin: 1vw;
  border: 0;
  padding: 0vw;
  width:15vw;
  height: 15vw;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.contact--twitter {
  background-image: url('./images/contact/twitter.svg');
}

.contact--email {
  background-image: url('./images/contact/email.svg');
}

.contact--linkedin {
  background-image: url('./images/contact/linkedin.svg');
}

.contact--github {
  background-image: url('./images/contact/github.svg');
}

.contact--buttons {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  
}

p {
  text-align: left;
}

.pagehead {
  display:flex;
  gap:2%;
  
}

.pagehead--logo {
  background-image: url('./images/navbar/yarn3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  margin: 0;
  border: 0;
  padding: 0vw;
  height:10vw;
  width:10vw;
}



.pagehead--title {
  text-align: left;
  align-self: center;
  font-size: 5vw;
  font-weight: 500;
  margin: 0%;
}



.magazine--viewer {
  height: 435px;
  width: 391px;
  float: right;
  margin: 5vw
}

.page--body {
  margin-top: 5vw;
}

.page--body > h2 {
  text-align: left;
}

ul {
  text-align: left;
}

.storymap {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.storymap > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.rupaul--images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1vw;
  
}

.rupaul--images > figure >img {
  max-width: 90%;
}

h2 {
  text-align: "left"
}

.page--colombia {
  display: flex;
}

.column {
  flex: 50%;
}

.column > figure > img{
  width:100%;
  min-height:100%;
}

.column > figure {
  min-width: 90%;
  margin-bottom: 10vw;
}