@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("./fonts/static/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-Medium";
  src: local("Inter-Medium"),
    url("./fonts/static/Inter-Medium.ttf") format("truetype");
}

body {
  font-family: "Inter-Regular";
}

h1, h2 {
  font-family: "Inter-Medium";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
